In [22]:
"ACDC" == "Michael Jackson"

False

In [23]:
'BA' > 'AB'

True

In [27]:
age = 18
if (age > 19):
    print ('you can enter')
elif(age == 18):
    print('you can enter with family')
else:
    print ('forget it baby')
    
print('done')

you can enter with family
done

In [28]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [29]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already

In [32]:
print (range(5))

range(0, 5)

In [35]:
print (range(0, 5))

range(0, 5)

In [37]:
ins= [1,3,5,3,6,2,1,5,8,3,4,6]
i= 0
new_list=[]
while(ins[i] < 8):
    new_list.append(ins[i])
    i+=1
new_list

[1, 3, 5, 3, 6, 2, 1, 5]

In [38]:
dates = [1982,1980,1973]

for i in range(len(dates)):
    print(dates[i])

1982
1980
1973

In [39]:
for i in range (-5, 4):
    print (i)

-5
-4
-3
-2
-1
0
1
2
3

In [40]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in Genres:
    print (i)

rock
R&B
Soundtrack
R&B
soul
pop

In [41]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for color in squares:
    print(color)

red
yellow
green
purple
blue

In [42]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
new_list=[]
while (PlayListRatings[i] > 6):
    new_list.append(PlayListRatings[i])
    i +=1
print(new_list)

[10, 9.5, 10, 8, 7.5]

In [43]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i=0
while(squares[i] == 'orange'):
    new_squares.append(squares[i])
    i +=1
new_squares

['orange', 'orange']

In [44]:
def add(a):
    b=a+1
    print (a, 'is added to 1 and it is', b)
add(5)

5 is added to 1 and it is 6

In [45]:
def multiply (a, b):
    c = a*b
    return c

multiply(4,5)

20

In [46]:
multiply(2, 'michael jackson')

'michael jacksonmichael jackson'

In [47]:
multiply(10.0, 3.15)

31.5

In [48]:
def square (x):
    return x*x

square(5)

25

In [49]:
def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [50]:
def divide(a, b):
    return a/b

divide (8,2)

4.0

In [51]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()

x= 1  y= 2